/* created by tr4ceflow */

/* imports 
   ---------------------------------------------------------------------------
*/

@import url(http://fonts.googleapis.com/css?family=Advent+Pro);
@import url(http://fonts.googleapis.com/css?family=Oxygen);

/* default elements 
   ---------------------------------------------------------------------------
*/

body,
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
body,
section {
    background: url(../img/body.png) repeat;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
    color: #999;
    text-rendering: optimizelegibility;
    font-family: 'Advent Pro', sans-serif;
}
h1,
h2,
.plugins h3, h3 {
    color: #4cb4e8;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
    font-weight: normal;
    color: #999999;
}
h2 {
    margin-top:5%;
    margin-bottom: 10%;
}
body {
    color: #bbb;
    text-shadow: 1px 1px 1px #000;
    height: 100%;
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
}
a {
    color: #4cb4e8;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
a:hover {
    color: #d4edf9;
    text-decoration: none;
}
section {
    padding-top: 60px;
}

/* carousel elements 
   ---------------------------------------------------------------------------
*/

.carousel-indicators {
    bottom: 0px;
    left: 90%;
}
.carousel-caption {
    padding: 10px;
    padding-left: 4%;
    padding-right: 4%;
    left: 0;
    width: 100%;
    text-align: justify;
    bottom: 0;
    background-color: black;
    opacity: .8;
    filter: alpha(opacity=80);
}
.carousel-caption h3 {
    color: white;
}

.carousel-inner img{width:100%;height:auto;}
/* custom class
   ---------------------------------------------------------------------------
*/
.right{float:right;}
.shine {
    color: #08ff25;
    margin-right: 10px;
}
.yes {
    color: #08ff25 !important;
}
.no {
    color: red;
}
.title {
    font-size: 8em;
    color: #4cb4e8;
    text-shadow: 0px 2px 3px #000;
    -webkit-font-smoothing: antialiased;
}
.plugins a {
    float: right;
    margin-right: 10%;
}
.twocol ul{
    -webkit-column-count: 2;
    /* Chrome, Safari, Opera */
    -moz-column-count: 2;
    /* Firefox */
    column-count: 2;
}
.greencol{margin-top:-15%;}
.greencol li{ list-style: none;}
.greencol li:before{
-webkit-font-smoothing: antialiased;
box-sizing: border-box;
color: rgb(8, 255, 37);
display: inline-block;
font-family: 'Glyphicons Halflings';
font-size: 14px;
font-style: normal;
font-weight: normal;
height: 14px;
line-height: 14px;
list-style-type: disc;
margin-right: 10px;
position: relative;
text-align: left;
text-shadow: rgb(0, 0, 0) 1px 1px 1px;
top: 1px;
width: 14px;
    content:"\e013";

}
.blink {
    -webkit-animation-name: pulse2;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
}
.blink:hover{-webkit-animation-play-state: paused;background-color: rgba(53, 126, 189, 0.9) !important;}
.glyphicon{color:#4cb4e8;}
/* navbar
   ---------------------------------------------------------------------------
*/

.mymenu {
    background: rgba(15, 35, 44, 1);
    background: url(../img/noise-bg.png), -webkit-radial-gradient(center center, cover circle, rgba(0, 0, 0, 0) 50%, rgba(51, 51, 51, 1)), -webkit-linear-gradient(rgba(34, 34, 34, 1) 50%, rgba(34, 34, 34, 1));
    background: url(../img/noise-bg.png), -moz-radial-gradient(center center, cover circle, rgba(0, 0, 0, 0) 50%, rgba(51, 51, 51, 1)), -moz-linear-gradient(rgba34, 34, 34, 1) 50%, rgba(34, 34, 340, 113, 200, 1));
    background: url(../img/noise-bg.png), -ms-radial-gradient(center center, cover circle, rgba(0, 0, 0, 0) 50%, rgba(51, 51, 51, 1)), -ms-linear-gradient(rgba(34, 34, 34, 1) 50%, rgba(34, 34, 34, 1));
    background: url(../img/noise-bg.png), radial-gradient(center center, cover circle, rgba(0, 0, 0, 0) 50%, rgba(51, 51, 51, 1)), linear-gradient(rgba(34, 34, 34, 1) 50%, rgba(34, 34, 34, 1));
    -webkit-font-smoothing: antialiased;
    box-shadow: outset 0 1px rgba(255, 255, 255, 0.5);
    border-bottom: 1px rgba(255, 255, 255, 0.15) solid;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-nav > li {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 1px 0 rgba(255, 255, 255, 0.15);
}
.navbar-default .navbar-nav > li:hover {
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.02));
    background: -moz-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.02));
    background: -ms-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.02));
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.02));
    color: #fff;
    cursor: pointer;
}
.navbar-default .navbar-nav > .active> a {
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.02));
    background: -moz-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.02));
    background: -ms-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.02));
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.02));
    color: #fff;
    cursor: pointer;
}
.navbar-default .navbar-nav > li:active {
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
    background: -ms-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
    box-shadow: inset 0 4px 20px rgba(0, 0, 0, 0.4);
    color: #fff;
    cursor: pointer;
}
.navbar-default .navbar-nav > li:last-child {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 1px 0 rgba(255, 255, 255, 0.15);
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:active {
    color: #fff;
}
.dark {
    background: rgba(0, 0, 0, 0.298039);
    -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
    -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
    background: #202020;
    background-color: rgba(0, 0, 0, 0.3);
}
/* bootstrap override
   ---------------------------------------------------------------------------
*/

.btn-primary {
    color: #fff;
    background-color: transparent;
    border-color: rgb(53, 126, 189);
}
.btn-primary:hover {
    background-color: rgba(53, 126, 189, 0.8)
}
.btn-default {
    background-color: transparent;
    color: white;
}
.btn-default:hover {
    background-color: transparent;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
    outline: none;
    cursor: pointer;
}

.arrow {
	position:relative;
	font-size:1.3em;
	margin-top:6em;
	display:inline-block;

}
.arrow:hover {
	text-decoration:none;
}

.arrow:after {
	content:'';
	width:40px;
	height:40px;
	position:absolute;
	top:40px;
	margin:auto;
	top:50px;
	right:0;
	bottom:0;
	left:0;
	-webkit-animation:3s arrow infinite ease;
	animation:3s arrow infinite ease;
   
}

.arrow:after {
	border-right:2px solid #4cb4e8;
	border-bottom:2px solid #4cb4e8;
	-ms-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
	
}

/* effects
   ---------------------------------------------------------------------------
*/

@-webkit-keyframes pulse {
    0% {
        border-color: rgba(255, 255, 255, 0.4)
    }
    50% {
        border-color: rgba(255, 255, 255, 0.1)
    }
    100% {
        border-color: rgba(255, 255, 255, 0.4)
    }
}
@-webkit-keyframes pulse2 {
    0% {
        background-color: rgba(53, 126, 189, 0.4)
    }
    50% {
        background-color: rgba(53, 126, 189, 0.1)
    }
    100% {
        background-color: rgba(53, 126, 189, 0.4)
    }
}
@-webkit-keyframes arrow {
	0%,100% {
		top:50px;
	}
	50% {
		top:80px;
	}
}
@keyframes arrow {
	0%,100% {
		top:50px;
	}
	50% {
		top:80px;
	}
}