<ul>
    <li><a target="_blank" href="http://telegram.x64dbg.com"><img alt="Telegram" src="//i.imgur.com/merFyCf.png"></a></li>
    <li><a target="_blank" href="https://invite.gg/x64dbg"><img alt="Discord" src="//img.shields.io/badge/chat-on%20Discord-green.svg?logo=discord&style=flat"></a></li>
    <li><a target="_blank" href="http://x64dbg-slack.herokuapp.com/"><img alt="Slack" src="//x64dbg-slack.herokuapp.com/badge.svg"></a></li>
    <li><a target="_blank" href="https://gitter.im/x64dbg/x64dbg"><img alt="Gitter" src="https://badges.gitter.im/x64dbg/x64dbg.svg"></a></li>
    <li><a target="_blank" href="http://webchat.freenode.net/?channels=x64dbg"><img alt="Freenode" src="//i.imgur.com/JEG5fJr.png"></a></li>
    <li>x64dbg@conference.jwchat.org on XMPP</li>
    <li><a target="_blank" href="https://twitter.com/x64dbg">@x64dbg</a> on Twitter</li>
    <li><a target="_blank" href="https://groups.google.com/group/x64dbg">x64dbg</a> on Google Groups (x64dbg [at] googlegroups.com)</li>
    <li><a target="_blank" href="http://mrexodia.github.io">mrexodia</a> (mrexodia [at] x64dbg.com)</li>
    <li><a target="_blank" href="https://twitter.com/tr4ceflow">tr4ceflow</a> on Twitter</li>
</ul>
