<ul>
    <li><a target="_blank" href="http://telegram.x64dbg.com"><img alt="Telegram" src="//i.imgur.com/merFyCf.png"></a></li>
    <li><a target="_blank" href="https://gitter.im/x64dbg/x64dbg"><img alt="Gitter" src="https://badges.gitter.im/x64dbg/x64dbg.svg"></a></li>
    <li><a target="_blank" href="http://webchat.freenode.net/?channels=x64dbg"><img alt="Freenode" src="//i.imgur.com/JEG5fJr.png"></a></li>
    <li><a target="_blank" href="https://twitter.com/x64dbg">@x64dbg</a> on Twitter</li>
    <li><a target="_blank" href="https://groups.google.com/group/x64dbg">x64dbg</a> on Google Groups (x64dbg [at] googlegroups.com)</li>
    <li><a target="_blank" href="http://mrexodia.cf">mrexodia</a> (mr.exodia.tpodt [at] gmail.com)</li>
    <li><a target="_blank" href="https://twitter.com/tr4ceflow">tr4ceflow</a> on Twitter</li>
</ul>
