<ul>
    <li>Debugger core powered by
        <a target="_blank" href="https://bitbucket.org/mrexodia/titanengine-update">TitanEngine Community Edition</a>
    </li>
    <li>Disassembly powered by
        <a target="_blank" href="http://www.capstone-engine.org">capstone</a>
    </li>
    <li>Assembly powered by
        <a target="_blank" href="https://bitbucket.org/mrexodia/xedparse">XEDParse</a>
    </li>
    <li>Import reconstruction powered by
        <a target="_blank" href="https://github.com/NtQuery/Scylla">Scylla</a>
    </li>
    <li>JSON powered by
        <a target="_blank" href="http://www.digip.org/jansson">Jansson</a>
    </li>
    <li>Database compression powered by
        <a target="_blank" href="https://code.google.com/p/lz4">lz4</a>
    </li>
    <li>Bug icon by
        <a target="_blank" href="http://www.visualpharm.com">VisualPharm</a>
    </li>
    <li>Interface icons by
        <a target="_blank" href="http://p.yusukekamiyamane.com">Fugue</a>
    </li>
    <li>Website by
        <a target="_blank" href="http://blog.tr4ceflow.com">tr4ceflow</a>
    </li>
    <li>Donate button by
        <a target="_blank" href="https://github.com/danielquinn/bitcoin-donate">Daniel Quinn</a>
    </li>
</ul>
<br>
<h3>Special Thanks</h3>
acidflash, cyberbob, Teddy Rogers,
<a target="_blank" href="http://forum.exetools.com">EXETools community</a>,
<a target="_blank" href="https://forum.tuts4you.com">Tuts4You community</a>, <b>TEAM DVT</b>, DMichael, Artic, Nukem, ahmadmansoor, Everyone on <a target="_blank" href="http://webchat.freenode.net/?channels=x64dbg">#x64dbg</a>
<br>
<br>
<h3>Developers</h3>
<ul>
    <li><a target="_blank" href="http://mrexodia.cf">Mr. eXoDia</a></li>
    <li>Sigma</li>
    <li><a target="_blank" href="http://blog.tr4ceflow.com">tr4ceflow</a></li>
    <li><a target="_blank" href="http://www.fr33project.org">Dreg</a></li>
    <li>Nukem</li>
</ul>