<ul>
    <li>Debugger core powered by
        <a target="_blank" href="https://bitbucket.org/titanengineupdate/titanengine-update">TitanEngine Community Edition</a>
    </li>
    <li>Disassembly powered by
        <a target="_blank" href="http://www.capstone-engine.org">capstone</a>
    </li>
    <li>Assembly powered by
        <a target="_blank" href="https://github.com/x64dbg/XEDParse">XEDParse</a>
    </li>
    <li>Import reconstruction powered by
        <a target="_blank" href="https://github.com/NtQuery/Scylla">Scylla</a>
    </li>
    <li>JSON powered by
        <a target="_blank" href="http://www.digip.org/jansson">Jansson</a>
    </li>
    <li>Database compression powered by
        <a target="_blank" href="http://cyan4973.github.io/lz4/">lz4</a>
    </li>
    <li>Bug icon by
        <a target="_blank" href="http://www.visualpharm.com">VisualPharm</a>
    </li>
    <li>Interface icons by
        <a target="_blank" href="http://p.yusukekamiyamane.com">Fugue</a>
    </li>
    <li>Website by
        <a target="_blank" href="http://blog.tr4ceflow.com">tr4ceflow</a>
    </li>
    <li>Donate button by
        <a target="_blank" href="https://github.com/danielquinn/bitcoin-donate">Daniel Quinn</a>
    </li>
</ul>
<br>
<h3>Special Thanks</h3>
acidflash, cyberbob, Teddy Rogers,
<a target="_blank" href="http://forum.exetools.com">EXETools community</a>,
<a target="_blank" href="https://forum.tuts4you.com">Tuts4You community</a>, <b>TEAM DVT</b>, DMichael, Artic, Nukem, ahmadmansoor, Everyone on <a target="_blank" href="http://webchat.freenode.net/?channels=x64dbg">#x64dbg</a>
<br>
<br>
<h3>Developers</h3>
<ul>
    <li><a target="_blank" href="http://mrexodia.cf">Mr. eXoDia</a></li>
    <li>Sigma</li>
    <li><a target="_blank" href="http://blog.tr4ceflow.com">tr4ceflow</a></li>
    <li><a target="_blank" href="http://www.fr33project.org">Dreg</a></li>
    <li>Nukem</li>
</ul>
<h3>Contributers</h3>
<p>[torusrxxx](https://github.com/torusrxxx), [blaquee](https://github.com/blaquee), [wk-952](https://github.com/wk-952), [RaMMicHaeL](http://rammichael.com), [lovrolu](https://github.com/lovrolu), [fileoffset](https://github.com/fileoffset), [SmilingWolf](https://github.com/SmilingWolf), [ApertureSecurity](https://github.com/ApertureSecurity), [mrgreywater](https://github.com/mrgreywater), [Dither](https://github.com/Dither), [zerosum0x0](https://github.com/zerosum0x0), [RadicalRaccoon](https://github.com/RadicalRaccoon), [fetzerms](https://github.com/RadicalRaccoon), [muratsu](https://github.com/RadicalRaccoon), [ForNeVeR](https://github.com/RadicalRaccoon)</p>
