<ul>
    <!-- List everybody with their BountySource username -->
    
    <!-- PELock -->
    <li><a href="https://www.pelock.com" target="_blank">PELock Software Protection &amp; Software License Key System</a></li>
    <!-- Exidous -->
    <li><a href="http://totalviruscheck.com" target="_blank">Exidous</a></li>
    <!-- tslater2006 -->
    <li><a href="https://github.com/tslater2006" target="_blank">tslater2006</a></li>
    <!-- d3v1l401 -->
    <li><a href="http://d3vsite.org" target="_blank">d3vil401</a></li>
    <!-- acidflash (would not like to be listed by actual name) -->
    <li>acidflash</li>
    <!-- CrystalIDEA Software, Inc -->
    <li><a href="http://www.crystalidea.com/uninstall-tool" target="_blank">Uninstall Tool - fast and powerful uninstaller</a></li>
    <!-- Mr Pie -->
    <li>mr.tuna7331</li>
    <li>TechLord</li>
    <li><a href="https://x64dbg.com" target="_blank">Dreg</a></li>
    <li><a href="https://phi.nz" target="_blank">Alexandro Sanchez Bach</a></li>
    <li><a href="https://twitter.com/MercesFernando" target="_blank">Fernando Mercês</a></li>
    <li>Contact us if you donated and also want to be listed here...</li>
</ul>
