<ul>
    <!-- List everybody with their BountySource username -->
    
    <!-- PELock -->
    <li><a href="https://www.pelock.com" target="_blank">PELock Software Protection &amp; Software License Key System</a></li>
    <!-- Exidous -->
    <li>Exidous</li>
    <!-- tslater2006 -->
    <li><a href="https://github.com/tslater2006" target="_blank">tslater2006</a></li>
    <!-- d3v1l401 -->
    <li><a href="http://d3vsite.org" target="_blank">d3vil401</a></li>
    <!-- acidflash (would not like to be listed by actual name) -->
    <li>acidflash</li>
    <!-- CrystalIDEA Software, Inc -->
    <li><a href="http://www.crystalidea.com/uninstall-tool" target="_blank">Uninstall Tool - fast and powerful uninstaller</a></li>
    <!-- Mr Pie -->
    <li>mr.tuna7331</li>
    <li>TechLord</li>
    <li>Dreg</li>
    <li><a href="https://phi.nz" target="_blank">Alexandro Sanchez Bach</a></li>
    <li><a href="https://www.mentebinaria.com.br" target="_blank">Mente Binária</a></li>
    <li><a href="https://www.youtube.com/c/OALabs" target="_blank">OALabs</a></li>
    <li><a href="https://ethical.blue" target="_blank">Dawid Farbaniec (ethical.blue Magazine)</a></li>
    <li>Contact us if you donated and also want to be listed here...</li>
</ul>
