<header id="heading">
    <div class="navbar, mymenu navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                <img style="margin:0; margin-top:-8px;" src="img/icon-white.png" alt="icon">
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% unless page.title == 'x64dbg' %}index.html{% endunless %}#start" class="scroll">Start</a>
                    </li>
                    <li>
                        <a href="{% unless page.title == 'x64dbg' %}index.html{% endunless %}#features" class="scroll">Features</a>
                    </li>
                    <li>
                        <a href="{% unless page.title == 'x64dbg' %}index.html{% endunless %}#overview" class="scroll">Overview</a>
                    </li>
                    <li>
                        <a href="{% unless page.title == 'x64dbg' %}index.html{% endunless %}#credits" class="scroll">Credits</a>
                    </li>
                    <li>
                        <a href="{% unless page.title == 'x64dbg' %}index.html{% endunless %}#donations" class="scroll">Donations</a>
                    </li>
                    <li>
                        <a href="{% unless page.title == 'x64dbg' %}index.html{% endunless %}#contact" class="scroll">Contact</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li>
                        <a href="http://plugins.x64dbg.com">Plugins</a>
                    </li>
                    <li>
                        <a target="_blank" href="http://issues.x64dbg.com">Issues</a>
                    </li>
                    <li>
                        <a target="_blank" href="http://wiki.x64dbg.com">Wiki</a>
                    </li>
                    <li>
                        <a target="_blank" href="http://help.x64dbg.com">Help</a>
                    </li>
                    <li>
                        <a target="_blank" href="http://blog.x64dbg.com">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>