<div class="row">
                <div class="col-md-4">
                    <h3>Active development</h3>
                    <p>x64_dbg is under constant active development.</p>
                </div>
                <div class="col-md-4">
                    <h3>GPLv3</h3>
                    <p>We provide both the executable and the source. Feel free to contribute.</p>
                </div>
                <div class="col-md-4 ">
                    <h3>Customizable</h3>
                    <p>Write plugins in C++, change colors and tweak your preferences.</p>
                </div>
            </div>
            <div class="row" style="margin-top:5%;">
                <div class="col-md-4">
                    <h3>x64/x32 support</h3>
                    <p>x64_dbg can debug both x64 and x32 applications. There is only one interface.</p>
                </div>
                <div class="col-md-4">
                    <h3>Built on open-source libraries</h3>
                    <p>x64_dbg uses Qt, TitanEngine, BeaEngine, Scylla, Jansson, lz4 and XEDParse.</p>
                </div>
                <div class="col-md-4">
                    <h3>Simple, powerful development</h3>
                    <p>x64_dbg uses C++ and Qt4 to quickly add new features.</p>
                </div>
            </div>
            <div class="row" style="margin-top:5%;">
                <div class="col-md-4">
                    <h3>Scriptable</h3>
                    <p>x64_dbg has an integrated, debuggable, ASM-like scripting language.</p>
                </div>
                <div class="col-md-4">
                    <h3>Community-aware</h3>
                    <p>x64_dbg has many features thought of or created by the reversing community.</p>
                </div>
                <div class="col-md-4 ">
                    <h3>Extendable</h3>
                    <p>Write plugins to add script commands or to integrate your tools.</p>
                </div>
            </div>