<div class="row">
    <div class="col-md-4">
        <h3><span class="glyphicon glyphicon-refresh"></span> Active development</h3>
        <p>x64dbg is under constant active development.</p>
    </div>
    <div class="col-md-4">
        <h3><span class="glyphicon glyphicon-file"></span> GPLv3</h3>
        <p>We provide both the executable and the source. Feel free to contribute.</p>
    </div>
    <div class="col-md-4 ">
        <h3><span class="glyphicon glyphicon-cog"></span> Customizable</h3>
        <p>Write plugins in C++, change colors and tweak your preferences.</p>
    </div>
</div>
<div class="row" style="margin-top:5%;">
    <div class="col-md-4">
        <h3><span class="blue"><span class="glyphicon glyphicon-transfer"></span></span> x64/x32 support</h3>
        <p>x64dbg can debug both x64 and x32 applications. There is only one interface.</p>
    </div>
    <div class="col-md-4">
        <h3><span class="glyphicon glyphicon-globe"></span> Built on open-source libraries</h3>
        <p>x64dbg uses Qt, TitanEngine, capstone, Yara, Scylla, Jansson, lz4 and XEDParse.</p>
    </div>
    <div class="col-md-4">
        <h3><span class="glyphicon glyphicon-send"></span> Simple, powerful development</h3>
        <p>x64dbg uses C++ and Qt4 to quickly add new features.</p>
    </div>
</div>
<div class="row" style="margin-top:5%;">
    <div class="col-md-4">
        <h3><span class="glyphicon glyphicon-wrench"></span> Scriptable</h3>
        <p>x64dbg has an integrated, debuggable, ASM-like scripting language.</p>
    </div>
    <div class="col-md-4">
        <h3><span class="glyphicon glyphicon-user"></span> Community-aware</h3>
        <p>x64dbg has many features thought of or implemented by the reversing community.</p>
    </div>
    <div class="col-md-4 ">
        <h3><span class="glyphicon glyphicon-new-window"></span> Extendable</h3>
        <p>Write plugins to add script commands or to integrate your tools.</p>
    </div>
</div>