<div class="row plugins">
    <div class="col-md-6">
        <h3>testplugin
        <small>&lt;mrexodia&gt;</small>
        </h3>
        <p>[
        <span class="yes">x86</span>,
        <span class="yes">x64</span> ]</p>
        <p>Demo plugin that demonstrates many of the internal API functions.</p>
        <a target="_blank" href="https://github.com/x64dbg/testplugin">Source</a>
    </div>
    <div class="col-md-6">
        <h3>ScyllaHide
        <small>&lt;Aguila &amp; cypher&gt;</small>
        </h3>
        <p>[
        <span class="yes">x86</span>,
        <span class="yes">x64</span> ]</p>
        <p>Open-source user-mode Anti-Anti-Debug plugin.</p>
        <a target="_blank" href="https://github.com/x64dbg/ScyllaHide">Source</a>
        <a target="_blank" href="https://github.com/x64dbg/ScyllaHide/releases">Download</a>
    </div>
    <div class="col-md-6">
        <h3>TitanHide
        <small>&lt;mrexodia&gt;</small>
        </h3>
        <p>[
        <span class="yes">x86</span>,
        <span class="yes">x64</span> ]</p>
        <p>Open-source kernel-mode Anti-Anti-Debug plugin.</p>
        <a target="_blank" href="https://bitbucket.org/mrexodia/titanhide">Source</a>
        <a target="_blank" href="https://bitbucket.org/mrexodia/titanhide/downloads">Download</a>
    </div>
    <div class="col-md-6">
        <h3>SwissArmyKnife
        <small>&lt;Nukem&gt;</small>
        </h3>
        <p>[
        <span class="yes">x86</span>,
        <span class="yes">x64</span> ]</p>
        <p>Utility for MAP/DIFF files, PEiD/IDA signatures.</p>
        <a target="_blank" href="https://github.com/x64dbg/SwissArmyKnife">Source</a>
        <a target="_blank" href="https://ci.appveyor.com/project/mrexodia/swissarmyknife/build/artifacts">Download</a>
    </div>
    <div class="col-md-6">
        <h3>MultiASM
        <small>&lt;RaMMicHaeL&gt;</small>
        </h3>
        <p>[
        <span class="yes">x86</span>,
        <span class="yes">x64</span> ]</p>
        <p>Well-known plugin to write advanced inline assembly.</p>
        <a target="_blank" href="http://rammichael.com/multimate-assembler">Homepage</a>
        <a target="_blank" href="http://rammichael.com/downloads/multiasm.rar">Download</a>
    </div>
    <div class="col-md-6">
        <h3>OllyMigrate
        <small>&lt;lowprio20&gt;</small>
        </h3>
        <p>[
        <span class="yes">x86</span>,
        <span class="yes">x64</span> ]</p>
        <p>A plugin to pass debuggee to another debugger without restarting.</p>
        <a target="_blank" href="http://low-priority.appspot.com/ollymigrate">Website</a>
        <a target="_blank" href="http://low-priority.appspot.com/ollymigrate/OllyMigrate.zip">Download</a>
    </div>
    <div class="col-md-6">
        <h3>OllyDumpEx
        <small>&lt;lowprio20&gt;</small>
        </h3>
        <p>[
        <span class="yes">x86</span>,
        <span class="yes">x64</span> ]</p>
        <p>Process memory dumper for x64dbg, OllyDbg and Immunity Debugger.</p>
        <a target="_blank" href="http://low-priority.appspot.com/ollydumpex">Website</a>
        <a target="_blank" href="http://low-priority.appspot.com/ollydumpex/OllyDumpEx.zip">Download</a>
    </div>
    <div class="col-md-6">
        <h3>ret-sync
        <small>&lt;bootleg&gt;</small>
        </h3>
        <p>[
        <span class="yes">x86</span>,
        <span class="yes">x64</span> ]</p>
        <p>Synchronize a debugging session with IDA.</p>
        <a target="_blank" href="https://github.com/bootleg/ret-sync">Source</a>
    </div>
    <div class="col-md-6">
        <h3>labeless
        <small>&lt;a1ext&gt;</small>
        </h3>
        <p>[
        <span class="yes">x86</span>,
        <span class="yes">x64</span> ]</p>
        <p>Label syncing between IDA and x64dbg.</p>
        <a target="_blank" href="https://github.com/a1ext/labeless">Source</a>
        <a target="_blank" href="https://github.com/a1ext/labeless/releases">Download</a>
    </div>
    <div class="col-md-6">
        <h3>ChaiScript
        <small>&lt;jdavidberger&gt;</small>
        </h3>
        <p>[
        <span class="yes">x86</span>,
        <span class="yes">x64</span> ]</p>
        <p>Run chaiscript files and commands from within x64dbg.</p>
        <a target="_blank" href="https://github.com/jdavidberger/chaiScriptPlugin">Source</a>
        <a target="_blank" href="https://github.com/jdavidberger/chaiScriptPlugin/releases">Download</a>
    </div>
    <div class="col-md-6">
        <h3>x64dbgpy
        <small>&lt;Tomer Zait&gt;</small>
        </h3>
        <p>[
        <span class="yes">x86</span>,
        <span class="yes">x64</span> ]</p>
        <p>Automating x64dbg using Python.</p>
        <a target="_blank" href="https://github.com/x64dbg/x64dbgpy">Source</a>
        <a target="_blank" href="https://ci.appveyor.com/project/mrexodia/x64dbg-python/build/artifacts">Download</a>
    </div>
</div>
