<div class="row plugins">
                <div class="col-md-6">
                    <h3>testplugin
                        <small>&lt;Mr. eXoDia&gt;</small>
                    </h3>
                    <p>[
                        <span class="yes">x86</span>,
                        <span class="yes">x64</span> ]</p>
                    <p>Demo plugin that demonstrates many of the internal API functions.</p>
                    <a target="_blank" href="https://bitbucket.org/mrexodia/testplugin">Source</a>
					<a target="_blank" href="https://bitbucket.org/mrexodia/testplugin/downloads">Download</a>
                </div>
				<div class="col-md-6">
                    <h3>ScyllaHide
                        <small>&lt;Aguila & cypher&gt;</small>
                    </h3>
                    <p>[
                        <span class="yes">x86</span>,
                        <span class="yes">x64</span> ]</p>
                    <p>Open-source user-mode Anti-Anti-Debug plugin.</p>
                    <a target="_blank" href="http://scyllahide.tk">Website</a>
                </div>
				<div class="col-md-6">
                    <h3>TitanHide
                        <small>&lt;Mr. eXoDia&gt;</small>
                    </h3>
                    <p>[
                        <span class="yes">x86</span>,
                        <span class="yes">x64</span> ]</p>
                    <p>Open-source kernel-mode Anti-Anti-Debug plugin.</p>
                    <a target="_blank" href="https://bitbucket.org/mrexodia/titanhide">Source</a>
                    <a target="_blank" href="https://bitbucket.org/mrexodia/titanhide/downloads">Download</a>
                </div>
                <div class="col-md-6">
                    <h3>IDALdr
                        <small>&lt;Nukem&gt;</small>
                    </h3>
                    <p>[
                        <span class="yes">x86</span>,
                        <span class="yes">x64</span> ]</p>
                    <p>Plugin to load IDA signatures and linker map files in x64_dbg.</p>
                    <a target="_blank" href="https://bitbucket.org/Nukem9/idaldr">Source</a>
					<a target="_blank" href="https://bitbucket.org/Nukem9/idaldr/downloads">Download</a>
                </div>
				<div class="col-md-6">
                    <h3>Highlightfish
                        <small>&lt;Insid3Code&gt;</small>
                    </h3>
                    <p>[
                        <span class="yes">x86</span>,
                        <span class="yes">x64</span> ]</p>
                    <p>Plugin to select x64_dbg color and highlighting schemes.</p>
                    <a target="_blank" href="http://insid3code.blogspot.nl/p/highlightfish.html">Website</a>
                </div>
				<div class="col-md-6">
                    <h3>MultiASM
                        <small>&lt;RaMMicHaeL&gt;</small>
                    </h3>
                    <p>[
                        <span class="yes">x86</span>,
                        <span class="yes">x64</span> ]</p>
                    <p>Well-known plugin to write advanced inline assembly.</p>
					<a target="_blank" href="http://rammichael.com/multimate-assembler">Homepage</a>
                    <a target="_blank" href="http://rammichael.com/downloads/multiasm.rar">Download</a>
                </div>
				<div class="col-md-6">
                    <h3>SigMake
                        <small>&lt;Nukem&gt;</small>
                    </h3>
                    <p>[
                        <span class="yes">x86</span>,
                        <span class="yes">x64</span> ]</p>
                    <p>A plugin for signature generation in x64dbg.</p>
                    <a target="_blank" href="https://bitbucket.org/Nukem9/sigmake">Source</a>
					<a target="_blank" href="https://bitbucket.org/Nukem9/sigmake/downloads">Download</a>
                </div>
				<div class="col-md-6">
                    <h3>OllyMigrate
                        <small>&lt;lowprio20&gt;</small>
                    </h3>
                    <p>[
                        <span class="yes">x86</span>,
                        <span class="yes">x64</span> ]</p>
                    <p>A plugin to pass debuggee to another debugger without restarting.</p>
                    <a target="_blank" href="http://low-priority.appspot.com/ollymigrate/">Website</a>
					<a target="_blank" href="http://low-priority.appspot.com/ollymigrate/OllyMigrate.zip">Download</a>
                </div>
            </div>
            <div class="row" style="margin-top:10%; ">
                Get in touch to place your plugin here.
            </div>
