<div class="row plugins">
                <div class="col-md-6">
                    <h3>testplugin
                        <small>&lt;Mr. eXoDia&gt;</small>
                    </h3>
                    <p>[
                        <span class="yes">x86</span>,
                        <span class="yes">x64</span> ]</p>
                    <p>Demo plugin that demonstrates many of the internal API functions.</p>
                    <a target="_blank" href="https://bitbucket.org/mrexodia/testplugin">Source</a>
                </div>
                <div class="col-md-6">
                    <h3>StaticAnalysis
                        <small>&lt;tr4ceflow&gt;</small>
                    </h3>
                    <p>[
                        <span class="yes">x86</span>,
                        <span class="yes">x64</span> ]</p>
                    <p>Detect inter-modular calls and add comments for API calls.</p>
                    <a target="_blank" href="https://github.com/x64dbg/x64dbg-StaticAnalysis">Source</a>
                    <a target="_blank" href="https://github.com/x64dbg/x64dbg-StaticAnalysis/releases">Download</a>
                </div>
				<div class="col-md-6">
                    <h3>ScyllaHide
                        <small>&lt;Aguila & cypher&gt;</small>
                    </h3>
                    <p>[
                        <span class="yes">x86</span>,
                        <span class="yes">x64</span> ]</p>
                    <p>Open-source user-mode Anti-Anti-Debug plugin.</p>
                    <a target="_blank" href="http://scyllahide.tk">Website</a>
                </div>
				<div class="col-md-6">
                    <h3>TitanHide
                        <small>&lt;Mr. eXoDia&gt;</small>
                    </h3>
                    <p>[
                        <span class="yes">x86</span>,
                        <span class="yes">x64</span> ]</p>
                    <p>Open-source kernel-mode Anti-Anti-Debug plugin.</p>
                    <a target="_blank" href="https://bitbucket.org/mrexodia/titanhide">Source</a>
                    <a target="_blank" href="https://bitbucket.org/mrexodia/titanhide/downloads">Download</a>
                </div>
                <div class="col-md-6">
                    <h3>IDALdr
                        <small>&lt;Nukem&gt;</small>
                    </h3>
                    <p>[
                        <span class="yes">x86</span>,
                        <span class="yes">x64</span> ]</p>
                    <p>Plugin to load IDA signatures and linker map files in x64_dbg.</p>
                    <a target="_blank" href="https://bitbucket.org/Nukem9/idaldr">Source</a>
                </div>
				<div class="col-md-6">
                    <h3>Highlightfish
                        <small>&lt;Insid3Code&gt;</small>
                    </h3>
                    <p>[
                        <span class="yes">x86</span>,
                        <span class="yes">x64</span> ]</p>
                    <p>Highlightfish Plugin will allow you to customize x64-dbg colors and Highlightings.</p>
                    <a target="_blank" href="http://insid3code.blogspot.nl/p/highlightfish.html">Website</a>
                </div>
            </div>
            <div class="row" style="margin-top:10%; ">
                Get in touch to place your plugin here.
            </div>
